.profile-dropdown {
  position: absolute;
  z-index: 10;
  right: 30px;
  /* margin-right: 20px; */
  /* display: flex;
  justify-content: space-between; */
  border: 1px solid black;
  border-radius: 5%;
  background-color: white;
}

.hidden {
  display: none;
}
